*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 10px 50px;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 100px;
}
.logo{
    width: 150px;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding-top: 10px;
}
a:link{
    text-decoration: none;
}
.links{
    color: rgb(172, 165, 165);
}
.dimension{
    margin-top: 20px;
}
.main-content{
    height: 400px;
    border-radius: 10px;
    background-image: url(../img/banner.jpg);
    background-size: contain;
}
.main-content-color{
    color: white;
}

.blocks-description{
    height: 100px;
}
h1{
    font-size: 35px;
}
.subtitle{
    color: rgb(153, 149, 149);
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.block-content{
    margin:10px 0;
}
.block{
    float: left;
    height: 480px;
}
.side{
    width: 25%;
}
.image{
    height: 200px;
    border-radius: 10px;
    filter: brightness(80%);
}
.first-image{
    width: 310px;
}
.third-image{
    width: 310px;
}
.central{
    width:calc(50% - 20px);
    margin:0 10px;
}
.second-image{
    width: 600px;
} 
h5{
    color: black;
}
footer{
    height: 50px;
    margin-top: 10px;
    text-align: center;
}
.heart{
    color: red;
}
